.todolist_wrapper {
  border: 1px solid #eee;
  padding: 32px;
  margin-bottom: 8px;
  border-radius: 16px;
  box-shadow:rgba(40, 40, 40, 0.059) 0px 0px 6px 3px;
  -webkit-box-shadow:rgba(40, 40, 40, 0.0588235) 0px 0px 6px 3px;
  -moz-box-shadow:rgba(40, 40, 40, 0.0588235) 0px 0px 6px 3px;
}

.todo_header_wrapper {
  display: flex;
  flex-direction: row;
}

.details_wrapper {
  display: flex;
  flex-direction: row;
}